<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="loginOption.css">
    <title>Login</title>
</head>
<body>
    <!-- cards section starts -->
<section class="cards" id="cards">

    <div class="heading">
        <h3>opções de login</h3>
    </div>

    <div class="cards-container">

        <div class="card">
            <div class="image">
                <img src="/Sem-Esperar-em-filas/Components/Images/login-option-user.jpg" alt="">
                <span>usuário</span>
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-user"></i> usuário </a>
                </div>
                <a href="#" class="title">login para usuários</a>
                <p>Entre na sua conta para explorar o cardápio das cantinas da sua faculdade sem precisar 
                    enfrentar filas. Faça seus pedidos de forma rápida e prática, economize tempo e aproveite!</p>
                <button class="card-btn" id="card-btn-user">Login</button>
                <button class="card-btn" id="card-btn-user-register">Cadastre-se</button>
            </div>
        </div>
        

        <div class="card">
            <div class="image">
                <img src="/Sem-Esperar-em-filas/Components/images/login-option-restaurant.jpg" alt="">
                <span>restaurante</span>
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-utensils"></i> restaurante </a>
                </div>
                <a href="#" class="title">login para restaurantes</a>
                <p>Gerencie seu restaurante com facilidade. Acesse o painel de controle para atualizar 
                    o cardápio, visualizar pedidos e melhorar a experiência dos seus clientes.</p>
                <button class="card-btn" id="card-btn-restaurant">login</button>
                <button class="card-btn" id="card-btn-restaurant-register">Cadastre-se</button>
            </div>
        </div>
        
    </div>

 </section>
  <!-- cards section ends -->
  <script src="loginOption.js"></script>
</body>
</html>