<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós - SEF</title>
  <meta name="title" content="Sobre Nós - SEF">
  <meta name="description" content="Conheça a equipe por trás do SEF - Sem Esperar Em Filas">
  <link rel="stylesheet" href="about.css">
</head>

<body>
  <!-- Preloader -->
  <div class="loading-container" data-loading-container>
    <div class="loading-circle"></div>
  </div>

  <!-- Navbar inserida -->
  <header>
    <iframe src="../../Components/nav/nav.php" width="100%" height="100"></iframe>
  </header>

  <!-- Seção Sobre Nós -->
  <section class="section about-us" aria-labelledby="about-us-label">
    <div class="container">
      <h2 class="h2 section-title" id="about-us-label">Sobre Nós</h2>
     <br>
      <div class="team">
        <div class="team-member">
          <img src="../Images/paulinhoamor.jpg" alt="Paulo Muchalski" class="team-photo">
          <h2 class="team-name">Paulo C. Muchalski</h2>
          <p class="team-role">Desenvolver Full / Designer UI/UX</p>
        </div>
        <div class="team-member">
          <img src="../Images/giulia2linda.jpg" alt="Giulia" class="team-photo">
          <h3 class="team-name">Giulia Stefanelli Casteluci</h3>
          <p class="team-role">Desenvolvedora Full / QA</p>
        </div>
        <div class="team-member">
          <img src="../Images/misael.jpg" alt="Misael" class="team-photo">
          <h3 class="team-name">Misael Vicente Rodrigues</h3>
          <p class="team-role">Desenvolvedor</p>
        </div>
        <div class="team-member">
          <img src="../Images/Outro Paulo.jpg" alt="Paulo" class="team-photo">
          <h3 class="team-name">Paulo V. de Melo Caridade</h3>
          <p class="team-role">Designer UI/UX</p>
        </div>
        <div class="team-member">
          <img src="../Images/Emmanuel.png" alt="Emmanuel" class="team-photo">
          <h3 class="team-name">Emmanuel Victorio</h3>
          <p class="team-role">Documentador</p>
        </div>
      </div>
      <p class="section-text">
        Somos uma equipe composta por cinco estudantes da Pontifícia Universidade Católica do Paraná, localizada em Curitiba. 
        Estamos desenvolvendo um website de entrega de alimentos para a cantina de nossa instituição, intitulado "SEF - Sem Esperar em Filas". 
        O objetivo do nosso projeto é permitir que os alunos realizem seus pedidos através do site e façam a retirada na cantina, evitando, assim, a formação de filas. 
        Este projeto foi desenvolvido em 2024, durante o segundo e terceiro período de nosso curso de Engenharia de Software.
        Esperamos que goste!
    </p>
    <p class="section-text">
       Contate-nos atraves dos emails: giulia.casteluci@pucpr.edu.br, paulo.muchalski@pucpr.edu.br.
       <br> 
       Nosso projeto no github: https://github.com/GiuliaVerse/Sem-Esperar-em-Filas
    </p>
    </div>
  </section>

  <iframe src="../../Components/Footer/footer.html" width="100%" height="100" title="Footer"></iframe>
</body>
</html>
