/* General styles for body and html */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main container styles */
.container {
    flex: 1; /* Allows the container to grow and take available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
    color: #333;
    width: 97%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

footer .container {
    margin: 0 auto;
    padding: 0 20px;
}

footer .copyright {
    margin: 0;
    font-size: 14px;
    color: #777;
}