@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 100%);
}

/*-------------------- Text ---------------------*/
h1,
h2,
h4,
h5 {
    margin: 0;
    line-height: 1.4;
}

h1 {
    font-size: 42px;
    color: #6d819c;
    text-align: left;
}

h2 {
    font-size: 28px;
    letter-spacing: -2px;
    color: #6d819c;
    text-align: center;
    line-height: 2.8;
}

h4 {
    font-size: 16px;
    color: #7495aa;
    letter-spacing: 1px;
    text-align: left;
    line-height: 2;
}

h5 {
    font-size: 11px;
    font-weight: 700;
    color: #c9d6de;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

h5.total {
    margin-top: 20px;
}

/*-------------------- Checkout ---------------------*/
.checkout {
    width: 670px;
    height: 485px;
    position: absolute;
    top: 38%;
    left: 50%;
    background-color: #dddfe6;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 30px 48px rgba(37, 44, 65, 0.32);
}

.order {
    width: 300px;
    height: 485px;
    padding: 0 30px;
    float: left;
    background-color: #f4f5f9;
    z-index: 1;
    box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);
}

ul.order-list {
    width: 100%;
    height: 205px;
    list-style: none;
    overflow-y: scroll;
    padding-right: 12px;
}

ul.order-list li {
    height: 60px;
    margin-left: -40px;
    overflow: hidden;
    border-bottom: 1px solid #e9ebf2;
}

ul.order-list li>img {
    width: 60px;
    height: 60px;
    float: left;
}

ul.order-list li>h4 {
    margin-top: 16px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: right;
    transition: all 0.3s;
}

ul.order-list li:hover>h4 {
    margin-top: 8px;
}

ul.order-list li>h5 {
    margin-top: 0px;
    text-align: right;
    display: none;
    transition: all 0.3s;
}

ul.order-list li:hover>h5 {
    margin-top: 3px;
    display: block;
}

/*-------------------- Payment ---------------------*/
.payment {
    width: 100%;
    padding: 20px;
    position: relative;
    float: left;
    z-index: 1;
}

.back-button {
    background-color: transparent;
    color: #f1404b;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    color: white;
}

.card-content {
    width: 100%;
    padding: 20px;
    position: relative;
    float: left;
    z-index: 1;
}

/*-------------------- Buttons ---------------------*/
button:focus {
    outline: 0;
}

.button-cta {
    width: 100%;
    height: 65px;
    position: absolute;
    float: right;
    right: 0px;
    bottom: -68px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f1404b;
    border: 1px solid #f1404b;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #f4f5f9;
    z-index: -1;
    transition: all 0.3s;
}

.button-cta:hover {
    background: rgba(193, 14, 26, 1);
    border: 1px solid rgba(193, 14, 26, 1);
}

.button-cta span {
    display: inline-block;
    position: relative;
    transition: all 0.3s;
}

.button-cta span:after {
    content: "→";
    color: #f4f5f9;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
}

.button-cta:hover span {
    padding-right: 45px;
}

.button-cta:hover span:after {
    opacity: 1;
    right: 0;
}

/*-------------------- Payment Notification ---------------------*/
.paid {
    z-index: 0;
    width: 370px;
    position: relative;
    float: right;
    padding: 30px;
    text-align: center;
    display: none;
}

.paid > h2 {
    line-height: 1;
    margin-top: 10px;
}

.payment {
    width: 100%;
    max-width: 270px;
    margin-left: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pix-info {
    margin-bottom: 20px;
}

.pix-info h5 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.qr-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    margin: 10px 0 20px 0;
}

.qr-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #f1404b;
    padding: 5px;
    background-color: white;
}
